{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.clients }}
  {{ if .enable }}
  <section class="site-client">
    <div class="container">
          <div class="section-title">
            <h2>{{ .title }}</h2>
            <p>Un consortium d'organisations africaines et européennes soutient la mise en œuvre de Charter Project Africa.
            Leurs efforts conjoints créent une présence continentale expansive avec accès à de nombreux réseaux pour des
            opportunités de collaboration dynamiques.</p>
          </div>
      <div class="site-client-row">
            {{ range .client_logos }}
          <img src="{{ . | absURL }}" alt="client-logo"/>
            {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}