{{ define "main" }}

<section class="site-about-header">
  <div class="container justify-content-center">
    <div class="mt-5">
      <div class="row justify-content-center">
        <h1>{{.Title}}</h1>
        </div>
          <div class="row justify-content-center">
                <img class="feature-image img-fluid justify-content-center" src="{{ .Params.Image | absURL }}" alt="image"class="center-img">
              <div class="site-about-company justify-content-center">
                <form id="contact-form" name="vote" method="POST" data-netlify="true" data-netlify-recaptcha="true">
                    <div class="col-12">
                      <p>{{ i18n "vote1" }} <strong>{{ .Title }}</strong></p>
                      <ol>
                        <li>{{ i18n "vote2" }}</li>
                        <li>{{ i18n "vote3" }}</li>
                        <li>{{ i18n "vote4" }}</li>
                      </ol>
                    </div>
                    <div class="col-12">
                      <input type="email" class="form-control" name="email" id="email" placeholder="{{ i18n "email" }}" required>
                    </div>
                    <div class="col-12">
                      <input type="hidden" name="name" id="name" value="{{ .Params.name }}">
                      <input type="hidden" name="link" id="link" value="{{ .Page.Permalink }}">
                      <input type="hidden" name="langue" id="langue" value="{{ i18n "langue" }}">
                    </div>
                    <div class="col-12 alert" id="contact-form-status" role="alert"></div>
                    <div class="col-12" id="contact-form-button">
                      <div data-netlify-recaptcha="true"></div>
                      <button type="submit" class="btn btn-primary">
                        <span class="btn-area">
                          <span data-text="{{ i18n "vote" }}">
                            {{ i18n "vote" }}
                          </span>
                        </span>
                      </button>
                    </div>
                </form>
                <div id="vote-form">
                  <h4>Merci d'avoir voté pour moi.</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-lg-8">
        <article class="site-blog-details">
          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
</section>

<!-- {{ partial "call-to-action.html" . }} -->

{{ end }}
