//site color variables
$body-color: #fff;
$primary-color: #F2BE22;
$secondary-color: #730909;
$text-color: #0D0D0D;
$text-color-dark: #730909;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F2DC99;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;
$gree: #37A691;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;
