.site-about{
  &-header{
    text-align: justify;
    padding-top: 80px;
    background-color: $gray;
    @include mobile{
      padding-top: 60px;
      text-align: justify;
    }
  }
  &-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
  }
  &-company{
    background: $primary-color;
    width: 40%;
    padding: 70px 38px;
    @include desktop{
      width: 100%;
      margin-bottom: 20px;
      text-align: justify;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-description{
    width: 60%;
    padding-left: 50px;
    @include desktop{
      text-align: justify;
      width: 100%;
      padding: 0 38px;
    }
    p{
      font-size: 25px;
      font-weight: 300;
      margin-bottom: 0;
      text-align: justify;
    }
  }
}