{{ define "main" }}

<section class="site-blog-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
          </div>
          <div class="site-about-description">
            <p>
              {{ .Description | safeHTML}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12 site-about-description" >
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<!-- {{ partial "team.html" . }} -->

{{ partial "clients.html" . }}

<!-- {{ partial "call-to-action.html" . }} -->

{{ end }}